*.zip
*.pdf
*.txt
*.pyc
*.npy
*.cfg
*.pt
*.csv
runs/
./detectors

experiments/*
!experiments/ACDC_training/

experiments/ACDC_training/*
!experiments/ACDC_training/Deeplab_ROI_example/
!experiments/ACDC_training/DeepLab_standard_example/
!experiments/ACDC_training/2D_Unet_standard_example/

!experiments/acdc_test_set/
experiments/acdc_test_set/*
!experiments/acdc_test_set/2D_Unet_standard_example/

results/*

datasets/*
acdc_test/*
acdc_test_resnext/*
acdc_test_all_ensemble/*